:root{
    --color-primary: #f1f5f9d6;
    --color-bg: #fff;
    --color-border: #ddd;
    --font-size-1: 4px;
    --font-size-2: 8px;
    --font-size-3: 12px;
    --font-size-4: 16px;
    --font-size-5: 20px;
    --font-size-6: 24px;
    --margin-size-1: 4px;
    --margin-size-2: 6px;
}